* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;

    padding: 6rem 2.3rem 6.6rem;
    background: #ECE9FD;
}

main {
    max-width: 33rem;
    margin: 0 auto;
}

main p:first-child {
    letter-spacing: 0.3rem;
    text-transform: uppercase;

    margin-bottom: 1.7rem;
    color: #7158EF;
}

main h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;

    margin-bottom: 1.5rem;
    color: #090039;
}

h1+p {
    margin-bottom: 3.2rem;

    color: rgba(10, 0, 57, 0.64);
}

a {
    text-decoration: none;

    color: #090039;
}

ul {
    list-style: none;

    margin-top: 7.2rem;
}

ul li {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    display: flex;
    align-items: center;
    gap: 3.8rem;
    max-width: 25.7rem;

    margin-bottom: 3.2rem;
    color: #090039;
}

ul li+li {
    margin-top: 3.2rem;
}

ul li span {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8.0rem;

    letter-spacing: -2px;


    color: #090039;
}

@media (min-width:700px) {
    body {
        padding: 8rem;
    }

    main {
        display: flex;
        max-width: 1020px;
        gap: 10rem;
    }

    main>div {
        max-width: 484px;
    }

    ul li {
        gap: 5.3rem;
        max-width: 450px;
        align-items: center;
    }

    ul li+li {
        margin-top: 3.2rem;
    }
}