* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  max-width: 144rem;
  background-color: black;
}

body * {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;

  color: #E1E1E6;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  border: 1px solid white;
}

#app {
  max-width: 112rem;
  height: auto;

  margin: 5rem auto 0;
}

table {
  display: block;

  margin-top: 8.7rem;
  min-height: 30rem;

  border: 1px solid rgba(74, 128, 140, 1);
  border-radius: 1.2rem;
  border-spacing: 0;
}

table img {
  border-radius: 50%;
  max-width: 5.6rem;
  max-height: 5.6rem;
}

thead,
tbody {
  display: block;

  max-height: 31.2rem;
  overflow: auto;
}

tbody {
  border-radius: 0 0 1.2rem 1.2rem;
}

thead {
  background: #092D38;
  border-radius: 1.2rem 1.2rem 0 0;
}

thead tr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

tbody tr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  border-bottom: 1px solid rgba(74, 128, 140, 1)
}

tbody tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.5);
}

tbody tr:nth-child(even) {
  background: #06181C;
}

tbody::-webkit-scrollbar {
  width: .6rem;
}

tbody::-webkit-scrollbar-thumb {
  background: #4A808C;

  width: .6rem;
  height: 12.2rem;

  border-radius: 1rem;
}

th {
  height: 6.4rem;
}

td {
  height: 10.4rem;
  padding: 2.4rem 2.4rem 2.4rem 4rem;
}

tbody tr td button {
  background: none;
  border: none;

  color: rgba(247, 90, 104, 1);

  cursor: pointer;
}

td:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1.2rem;

  width: 50.4rem;

  background: rgba(6, 22, 27, 0.5);
}

td:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 21.9rem;

  background: rgba(6, 22, 27, 0.5);
}

td:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 21.9rem;


  background: rgba(6, 22, 27, 0.5)
}

td:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 17.8rem;

  background: rgba(6, 22, 27, 0.5);
}


th:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6rem 2.4rem 1.6rem 4rem;


  width: 50.4rem;


  background: #092D38;
}

th:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6rem 2.4rem 1.6rem 4rem;

  width: 21.8rem;
}

th:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px 16px 40px;


  width: 22.0rem;
}

th:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6rem 2.4rem 1.6rem 4rem;
  gap: 1.2rem;

  width: 17.8rem;

  background: #092D38;
}

.user_content a {
  text-decoration: none;
  font-weight: 400;
}



header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .search {
  display: flex;
  align-items: center;
  gap: .8rem;
}

header .search input {
  background: #06181C;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;

  color: rgba(124, 124, 138, 1);

  width: 35rem;


  border: none;
  border-radius: .5rem;

  padding: 1.6rem;
}

header .search input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;

  color: rgba(124, 124, 138, 1);
}

header .search button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.2rem;
  gap: .8rem;
  width: 17rem;
  height: 4.8rem;


  background: #065E7C;
  border: none;
  border-radius: .5rem;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
 

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
  
  color: #FFFFFF;
}