* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

}

body {
  font-size: 1.6rem;
  background: #2F2F33;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  width: 100%;
  height: auto;
  padding: 11.5rem 16rem 11.6rem 16rem;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.8rem;
  gap: 29.3rem;
}

.logo {
  width: 18.6rem;
  height: 3.27rem;
}

header .search {
  display: flex;
  flex-direction: row;
  justify-content: end;

  width: 64rem;
  gap: 1rem;
}

header .search input {
  width: 100%;
  padding: 1.6rem;

  border-radius: 0.5rem;
  border: none;

  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0em;
  text-align: left;

  background: #06181C;

  color: #7C7C8A;
}

header button {
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;

  background: #065E7C;

  border: none;
  border-radius: 0.5rem;

  text-transform: uppercase;

  color: #FFFFFF;
}

header button .text-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 1.2rem 3.2rem;
}

.text-btn img {
  width: 2.4rem;
  height: 2.4rem;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-top: 8.7rem;
  border: 2px solid #4A808C;
  border-radius: 1.2rem;
}

thead tr th {
  padding: 1.6rem 2.4rem 1.6rem 4rem;

  background: #092D38;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;

  text-align: left;

  color: #E1E1E6;
}

thead tr th:first-child {
  border-radius: 1.2rem 0 0 0;
  width: 45%;
}

thead tr th:last-child {
  border-radius: 0 1.2rem 0 0;
  text-align: left;
}

tbody tr .usuario {
  background: rgba(6, 22, 27, 0.5);
  padding: 2.4rem 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}

a {
  text-decoration: none;
  color: #E1E1E6;
  font-weight: 400;
}

tbody tr {
  background: rgba(6, 22, 27, 0.5);
}

tbody tr td {
  padding: 2.4rem 4rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;

  color: #E1E1E6;
}

tbody tr td img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

tbody tr td button {
  background: none;
  border: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;


  color: #F75A68;
}

tr:nth-child(even) {
  background: rgba(6, 22, 27, 0.5);
}

tr:nth-child(odd) {
  background: #06181C;
}