* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --ff--heading: 'Montserrat', sans-serif;
    --tx--paragraf: 'DM Sans', sans-serif;
    --tx--animation: 'Dancing Script', sans-serif;

    font-size: 62.5%;
}

body {
    max-width: 172rem;
    height: auto;
}

.hide {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%)
}


/* FIRST PAGE  */
.content {
    box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.8);

    border-radius: 0.5rem;
    padding: 4.8rem 6.4rem 6.4rem;

    background-color: #FFFFFF;
    text-align: center;
}

.content .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 42.8rem;
    height: auto;
}

.content .info h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 1.7rem;
    color: #34355B;
}

.content .info p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    color: #34355B
}

.content .info img {
    max-width: 30rem;
    height: auto;
    cursor: pointer;
}

#close:hover {
    animation-name: shake;
    animation-duration: 100ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}



@keyframes shake {
    0% {
        transform: rotate(2deg)
    }

    50% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(2deg)
    }

}


/* SECOND PAGE */

.open {
    position: relative;
    padding-bottom: 4.8rem;
}

.open .info h2 {
    margin-bottom: 14.1rem;
}

.box-p {
    position: absolute;
    animation: textAnimation forwards;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
}

.open .info .box-p p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

    width: 29.3rem;
    height: 10.7rem;

    background: #E4EDF1;
    box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);


    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;

    color: #000000;
}

.open button {
    padding: 1.6rem;
    gap: 1rem;

    background: #FF9500;
    border-radius: .4rem;
    border: none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;

    text-align: center;

    color: #FFFFFF;

}

.open button:hover {
    background: #e28a10;
}

@keyframes textAnimation {
    0% {
        top: 26rem;
        transform: scale(0);
    }

    100% {
        top: 13rem;
        transform: scale(1);
    }
}